.search_container>input {
    border: none;
    outline-width: 0;
    width: 90%;
    margin-left: 10px;
    height: 30px;
}

.search_container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 6vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.invisible_icon {
    color: white;
}

.close_icon {
    color: grey;
}

.close_icon :hover {
    color: black;
}

.searchDiv {
    width: 22vw;
}